/*-----------Google Font link---------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.package-button {
  color: #3f87f5;
  background-color: #eeede7;
  border: none;
  padding: 8px 50px;
  border-radius: 20px;
}
.special-card {
  background-color: #3f87f5;
}

.book-button {
  color: white;
  background-color: #2da5bd;
  border: none;
  padding: 8px 50px;
  border-radius: 20px;
}
.book-button:hover {
  color: #2da5bd;
  background-color: white;
}
.submit-button {
  color: #2da5bd;
  background-color: white;
  border: none;
  padding: 8px 50px;
  border-radius: 20px;
}

@media (max-width: 575px) {
  .slide-head {
    font-size: 15px;
    margin-bottom: 0;
  }
  .book-button {
    color: white;
    background-color: #2da5bd;
    border: none;
    padding: 6px 25px;
    border-radius: 20px;
    font-size: 14px;
  }
  .slide-text {
    font-size: 12px;
    margin-bottom: 0;
  }
}
