/*-----------Google Font link---------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.package-button {
  color: #3f87f5;
  background-color: #eeede7;
  border: none;
  padding: 8px 50px;
  border-radius: 20px;
}
.special-card {
  background-color: #3f87f5;
}
